body,
html {
  margin: 0 auto;
  overflow: hidden;
}

.hidden {
  display: none;
}

input[type='text'] {
  color: white;
  background-color: transparent;
  border: none;
  margin: auto;
  text-align: center;
}

input[type='text']::placeholder {
  text-align: center;
  color: white;
}

input[type='text']:focus {
  outline: none;
}

#login-form {
  text-align: center;
}
#login-form input {
  font-weight: bold;
  font-size: 50px;
  color: white;
  margin-top: 200px;
}

#greeting {
  font-weight: bold;
  font-size: 60px;
  color: white;
  text-align: center;
  margin-top: 200px;
}

#clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#clock h2 {
  font-weight: bold;
  font-size: 60px;
  color: white;
}

#login-form {
  margin-bottom: 10px;
}

.background {
  margin: 0 auto;
  margin-top: 30px;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#todo-form {
  text-align: center;
}

#todo-form input {
  font-size: 30px;
}

#todo-list {
  text-align: center;
}

#todo-list li {
  list-style-type: none;
  font-size: 20px;
  color: white;
}

#todo-list button {
  margin-left: 3vh;
  background: transparent;
  border: none;
}

#quote {
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 10vh;
}
