{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">

{% block content %}

<section style='margin-left:auto; margin-right: auto;'>
    <div class="container mt-4">
        <div class="row justify-content-center">
            {% for object in object_list %}
            <div class="card col-5 mb-4" style="border: none;">
                <a href="{% url 'photo:detail' object.id %}">
                    <img src="{{ object.image.url }}" class="card-img-top">
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}